<ion-header>
  <ion-navbar>
    <ion-title>
      {{ "SETTINGS.TITLE" | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ "SETTINGS.LANGUAGE" | translate }}</ion-label>
    <ion-select [(ngModel)]="selectedLanguageId"
                okText="{{ 'SETTINGS.OK' | translate }}"
                cancelText="{{ 'SETTINGS.CANCEL' | translate }}"
                (ionChange)="selectLanguage()">
      <ion-option *ngFor="let language of languages" [value]="language">
        {{ language }}
      </ion-option>
    </ion-select>
  </ion-item>
</ion-content>
