<ion-header>
  <ion-navbar>
    <ion-title>
      {{ "TASK_EDIT.TASK" | translate }}
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="dismiss()">
        {{ "TASK_EDIT.CLOSE" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="{{ 'TASK_EDIT.DESCRIPTION' | translate }}" [(ngModel)]="task.description" required></ion-input>
  </ion-item>
  <button ion-button bottom block (click)="save()">{{ "TASK_EDIT.SAVE" | translate }}</button>
</ion-content>
