<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'LOGIN' | translate }}
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="dismiss()">
        {{ 'CLOSE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input type="email" [(ngModel)]="username" placeholder="{{ 'USER_LABEL' | translate }}" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="password" placeholder="{{ 'PASSWORD_LABEL' | translate }}" required></ion-input>
  </ion-item>

  <button ion-button bottom block (click)="login()">{{ 'LOGIN' | translate }}</button>

</ion-content>
