<ion-header>
  <ion-navbar>
    <ion-title>
      {{ "SECTION_EDIT.TITLE" | translate }}
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="dismiss()">
        {{ "SECTION_EDIT.CLOSE" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="{{ 'SECTION_EDIT.NAME' | translate }}" [(ngModel)]="section.description" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ "SECTION_EDIT.TYPE" | translate }}</ion-label>
    <ion-select [(ngModel)]="section.type" okText="{{ 'SECTION_EDIT.OK' | translate }}" cancelText="{{ 'SECTION_EDIT.CANCEL' | translate }}">
      <ion-option *ngFor="let value of types" [value]="value">
        {{ getSectionTypeDesc(value) | translate }}
      </ion-option>
    </ion-select>
  </ion-item>
  <button ion-button bottom block (click)="save()">{{ "SECTION_EDIT.SAVE" | translate }}</button>
</ion-content>
